<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="reque.proyecto2.jose_.proindust_app">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IniciarSesionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CRUDS.CRUDS"
            android:label="@string/title_activity_cruds"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Muestreo"
            android:label="@string/title_activity_muestreo"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CRUDS.CrearProyecto"
            android:label="@string/title_activity_crear_proyecto"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CRUDS.CrearOperacion"
            android:label="@string/title_activity_crear_operacion"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CRUDS.CrearTarea"
            android:label="@string/title_activity_crear_tarea"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CRUDS.CrearColaborador"
            android:label="@string/title_activity_crear_colaborador"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CRUDS.CrearUsuario"
            android:label="@string/title_activity_crear_usuarios"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".enlacesDatos.Enlaces_Datos"
            android:label="@string/title_activity_enlaces_datos"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".enlacesDatos.CrearEnlace_Tareas"
            android:label="@string/title_activity_crear_enlace_tareas"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".enlacesDatos.CrearEnlace_Operaciones"
            android:label="@string/title_activity_crear_enlace_operaciones"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".enlacesDatos.CrearEnlace_Colaboradores"
            android:label="@string/title_activity_crear_enlace_colaboradores"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".enlacesDatos.CrearEnlace_Usuarios"
            android:label="@string/title_activity_crear_enlace_usuarios"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HorasLibres"
            android:label="@string/title_activity_horas_libres"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

    </application>

</manifest>